.modal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;

  &__content {
    background: #fff;
    padding: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #cccccc45;
  z-index: 10;
}

.create-event {
  display: flex;
  flex-direction: column;

  &__close-btn {
    margin-left: auto;
    transform: rotate(45deg) scale(2);
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    background: transparent;
  }
}

.event-form {
  // padding-left: 40px;

  &__field {
    margin: 8px;
    border: none;
  }

  input[name='title'] {
    border-bottom: 2px solid rgb(30, 144, 255);
    width: -webkit-fill-available;
    margin-bottom: 50px;
  }

  &__time {
    margin-bottom: 50px;

    input[type='time'] {
      margin-left: 10px;
    }

    input[type='time']::-webkit-calendar-picker-indicator {
      display: none;
    }

    input[type='time']::-webkit-datetime-edit-fields-wrapper,
    input[type='time']::-webkit-datetime-edit-text {
      color: transparent;
    }

    input[type='time']::-webkit-datetime-edit-hour-field,
    input[type='time']::-webkit-datetime-edit-minute-field {
      color: black;
    }
  }

  textarea {
    width: -webkit-fill-available;
  }

  &__submit-btn {
    display: block;
    margin-left: auto;
    border: none;
    background-color: rgb(30, 144, 255);
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
  }
}
