.time-line {
  position: absolute;
  width: 100%;
  border-top: 1px solid red;
  z-index: 10;

  &__circle {
    position: absolute;
    top: -3px;
    width: 5px;
    height: 5px;
    border: none;
    border-radius: 50%;
    background-color: rgb(255, 0, 0);
  }

  &__rectangle {
    height: 0.5px;
    width: calc(100vw / 7 - 15px);
    border: none;
    background-color: rgb(255, 0, 0);
  }
}