.button {
  height: 40px;
  border: 1px solid #ccc;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
}

.icon-button {
  outline: none;
  border: none;
  cursor: pointer;
  background: transparent;
}

.modal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;

  &__content {
    background: #fff;
    padding: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #cccccc45;
  z-index: 10;
}

.hidden {
  display: none;
}

.popup {
  &__content {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #ccc;
    max-width: 200px;
    align-items: center;
    gap: 20px;
    position: absolute;
    top: 30px;
    left: 30px;
    z-index: 11;
    background: rgba(255, 255, 255, 1);
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  }

  &__close-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
  }

  &__actions{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
  }

  .events-btn {
    display: flex;
    flex-wrap: wrap;

    &:hover {
      opacity: 0.8;
    }

    .button {
      border: none;
      background: rgba(255, 255, 255, 1);
      display: flex;
      align-items: center;
      gap: 8px;
      padding: 8px;
      border-radius: 5px;
      cursor: pointer;
    }
  }

  .events-btn:nth-child(2):hover .colors {
    display: block;
  }
}

.colors {
  display: none;
  position: absolute;
  top: 50px;
  right: 0;
  list-style: none;
  padding: 8px;
  background: rgba(255, 255, 255);
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

  .colors__item {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }
  }
}

.default-color {
  background: rgb(0, 153, 255);
}

.green {
  background: rgb(28, 145, 28);
}

.orange {
  background: rgb(240, 148, 0);
}

.blue {
  background: rgb(21, 0, 255);
}

.hidden {
  display: none;
}